.heading {
  color: rebeccapurple;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
}

.site-title {
  font-size: 1rem;
  color: black;
  font-weight: 700;
  margin: 1rem 1rem 1rem 0rem;
}